---
 const personalImageAlt = "Alejandro Galache"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Alejandro. Mi pasión por la tecnología y la programación comenzó bien temprano.
      Actualmente trabajo como <strong>Desarrollador Web Fullstack y de aplicaciones móviles.</strong>
    </p>

    <p>
      Además he liderado un equipo de desarrollo como <strong>Scrum Master</strong> y he impartido formación en tecnologías web en los equipos en los que he trabajado.
    </p>

    <p>
      Estoy especializado en desarrollo backend (<strong>Laravel</strong>, <strong>Symfony</strong>, <strong>NodeJS</strong>), 
      aunque también he trabajado en proyectos frontend (<strong>NextJS</strong>, <strong>TailWind CSS</strong>) y móviles (<strong>Flutter</strong> y <strong>Kotlin Multiplatform</strong>).
      También tengo varios proyectos personales en construcción, y siempre estoy aprendiendo nuevas tecnologías.
    </p>
  </div>

  <img width="200" height="200" src="/me2.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>