---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Noviembre 2022",
    title: "Desarrollador Web",
    company: "Universidad de Salamanca",
    description:
      "Desarrollos en Wordpress y projectos con NextJS para el Serivicio de Información sobre Discapacidad (SID) del Instituto Universitario de Integración en la Comunidad (INICO) de la Universidad de Salamanca.",
    // link: "https://inico.usal.es/",
  },
  {
    date: "Febrero 2021",
    title: "Senior Fullstack Developer",
    company: "Eugen Solutions",
    description:
      "Analista programador Fullstack Senior. Proyectos Laravel / Angular. Diseño y gestión de documentación de los diferentes proyectos",
    // link: "https://eugen.solutions/",
  },
  {
    date: "Julio 2019",
    title: "Analista / Team Leader",
    company: "Small World Financial Services",
    description:
      "Team leader del equipo de desarrollo backend (laravel). Diseño, análisis y desarrollo de aplicaciones PHP. Diseño y gestión de documentación de los diferentes proyectos",
    // link: "https://inico.usal.es/",
  },
  {
    date: "Diciembre 2016",
    title: "Fullstack Developer",
    company: "Eugen Solutions",
    description:
      "Desarrollo de aplicaciones web fullstack con Angular y Laravel. Diseño y gestión de documentación de los diferentes proyectos",
  },
  {
    date: "Diciembre 2014",
    title: "PHP Developer",
    company: "Everis",
    description:
      "Desarrollador PHP para proyectos de BCA Europe en un equipo internacional bajo metodología SCRUM.",
  },
  {
    date: "Noviembre 2013",
    title: "TIBCO Developer",
    company: "Viewnext",
    description:
      "Programación Java & XML con TIBCO DesignerBusinessWorks. TIBCO DesignerBusinessWorks. Proyectos TIBCO para Vodafone.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
